<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>Version: {{ version }} </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to SPX PRJ Configurator',
      version: ''
    }
  },
  mounted () {
    const vm = this
    return this.$http
      .get('/api/v1/version')
      .then(response => {
        vm.version = response.data.version
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
